{% extends 'jobpoint_user/base.html' %} 
<body>

    {% block content %}
    
    <form method="POST" >
        {% csrf_token %}
        {{msg}}
        <div class="quals"style="border: 3px solid green;width:800px;margin-left:25%; border-radius:90px;background-color:rgba(180, 202, 194, 0.3)">
           <div class="f" style="margin-top:100px;margin-left:50px;
           height:700px;
           width: 700px;
          
           " >
           <h4 style="text-align: center;">
            Your Proposal
            </h4>
            <div class="form-group ">
                <label style="margin-right:700px;"><b>Description</b></label>
                <textarea  name="description" class="form-control p-4" required ></textarea>
            
            </div>
            
           
            <div class="control-group ">
                <label  style="margin-right:790px;"><b>Price</b></label>
                <input pattern="[^0][0-9]+" type="text" name="price" class="form-control p-4" id="" placeholder="Your Price"
                    required />
                <p class="help-block text-danger"></p>
                <input type="submit" class="btn btn-success" value="Submit" style="margin-left:300px;" >
              
            </div>
            </div>
            </div>
            </form>
            </body>
            {% endblock %}
