{% extends 'jobpoint_user/base.html' %}

<body>
  {% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}

    <div style="background-color: antiquewhite;">

      <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    </p>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}

      <div style="background-color: antiquewhite;">

        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
      </p>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="quals"
      style="border: 3px solid green;width:800px;margin-left:25%; border-radius:90px;background-color:rgba(180, 202, 194, 0.3)">
      <div class="f" style="margin-top:100px;margin-left:50px;height:700px;width: 700px;">
        <h4 style="text-align: center;">
          Your Proposal
        </h4>
        <div class="form-group ">
          <label style="margin-right:700px;"><b>Description</b></label>
          <textarea name="description" pattern="^\S+$" class="form-control p-4" required></textarea>
        </div>
        <div class="control-group ">
          <label style="margin-right:790px;"><b>Price</b></label>
          <input type="number" min="10" max="{{pro_price}}" name="price" class="form-control p-4" id=""
            placeholder="Your Price" required />
          <input type="submit" class="btn btn-success" value="Submit" style="margin-left:300px;">
        </div>
      </div>
    </div>
  </form>
</body>
{% endblock %}