{% extends 'jobpoint_user/base.html' %}
<body>
{% block content %} 
    
    <form method="POST">
        {% csrf_token %}
        <div class="quals" style="margin-left:28%;">
            <div class="control-group ">
                <label style="margin-right:790px;"><b>Your Degree</b></label>
                <input type="text" name="degree" class="form-control p-4" id="degree" placeholder="Your recent degree"
                    required="required"  />
                <p class="help-block text-danger"></p>
            </div>
            
           
            <div class="control-group ">
                <label style="margin-right:790px;"><b>CPI</b></label>
                <input type="text" name="cpi" class="form-control p-4" id="cpi" placeholder="Your CPI"
                    required="required"  />
                <p class="help-block text-danger"></p>
            </div>

            <div class="control-group">
                <label style="margin-right:790px;"><b>Passing year</b></label>
                <input type="text" name="passing_year" class="form-control p-4" id="passing_year" placeholder="Your Passing year"
                    required="required" data-validation-required-message="Please enter your email" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <label style="margin-right:790px;"><b>University</b></label>
                <input type="text"  name="university" class="form-control p-4" id="university" placeholder="University Name"
                    required="required" data-validation-required-message="Please enter a university" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group" required>
                <label style="margin-right:790px;"><b>About You</b></label>
                <textarea class="form-control p-4" name="about" placeholder="About yourself">

                </textarea>
                <p class="help-block text-danger"></p>
            </div>
            <br>
            <div class="alert alert-success">
            <input type="submit" class="btn btn-success" value="Submit" style="margin-left:300px;" >
            </div> 
        </div>
    </form>

</div>
</div>
</div>
</div>
</div>

<!-- form end >>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


{% endblock %} 
</body>