{% extends 'jobpoint_user/base.html' %}
<body>
{% block content %} 
    
    <form method="POST">
        {% csrf_token %}
        <div class="quals" style="margin-left:28%;">
            <div class="control-group ">
                <label style="margin-right:790px;"><b>Your Degree</b></label>
                <input type="text" name="degree"  title="only alphabets" class="form-control p-4" id="degree" placeholder="Your recent degree"
                pattern="^[A-Za-z -]+$" required  />
                <p class="help-block text-danger"></p>
            </div>
            
           
            <div class="control-group ">
                <label style="margin-right:790px;"><b>CPI</b></label>   
                <input type="text" name="cpi" pattern="[^0][0-9][.][0-9]{2}"  title="enter only digits and enter cpi in format eg :78.90 and should not start with 0" class="form-control p-4" id="cpi" placeholder="Your CPI "
                    required  data-validation-required-message = "enter cpi in format eg :78.90 " /><small>format eg : 81.11</small>
                <p class="help-block text-danger"></p>
            </div>

            <div class="control-group">
                <label style="margin-right:790px;"><b>Passing year</b></label>
                <input type="text" name="passing_year" class="form-control p-4" id="passing_year" title="must be in YYYY format and shoul not start with zero" pattern="[^0][0-9]+" maxlength="4" minlength="4" placeholder="Your Passing year YYYY"
                    required data-validation-required-message="Please enter you passing year" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <label style="margin-right:790px;"><b>University</b></label>
                <input type="text"  name="university" class="form-control p-4" id="university" title="only alphabets" pattern="^[A-Za-z -]+$"  placeholder="University Name"
                    required data-validation-required-message="Please enter a university" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group" required>
                <label style="margin-right:790px;"><b>About You</b></label>
                <textarea class="form-control p-4" name="about" placeholder="About yourself" required>

                </textarea>
                <p class="help-block text-danger"></p>
            </div>
            <br>
            <div class="alert alert-success">
            <input type="submit" class="btn btn-success" value="Submit" style="margin-left:300px;" >
            </div> 
        </div>
    </form>

</div>
</div>
</div>
</div>
</div>

<!-- form end >>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


{% endblock %} 
</body>