{% extends 'jobpoint_user/base.html' %} 

{% block content %} 
<!-- Form start >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<div class="container-fluid py-2" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-success">Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col">
                    
                    
                        <form method="POST">
                            {% csrf_token %}
                           
                            <div class="position-relative mb-8">
                                
                                    <label style=""><b>Job</b></label>
                                    <input type="text" value="{{data.previous_job}}" name="pjob" class="form-control" id="degree" 
                                        required="required"  />
                                    <br>
                            </div>
                                
                               
                                <div class="position-relative mb-2">
                                    <label style=""><b>Compony</b></label>
                                    <input type="text" name="pcomp" value="{{data.previous_compny}}" class="form-control" id="cpi" placeholder="Your CPI"
                                        required="required"  />
                                    <br>
                                </div>
                    
                                <div class="position-relative mb-2">
                                    <label style=""><b> Experience Year</b></label>
                                    <input type="text" name="eyear" value="{{data.experience_year}}" class="form-control" id="passing_year" placeholder="Your Passing year"
                                        required="required" data-validation-required-message="Please enter your email" />
                                    <br>
                                </div>
                                
                                <div class="position-relative mb-2">
                                    <label style=""><b>About You</b></label>
                                    <input type="text" value="{{data.about}}" name="about" class="form-control" id="passing_year" 
                                    required="required" />
                                    <!-- <textarea class="form-control p-4" name="about" placeholder="About yourself">
                    
                                    </textarea> -->
                                    <br>
                                </div>
                                <br>
                             
                                <div>
                                    <button class="btn btn-outline-success" type="submit" value="Submit">
                                        Update</button>
                                </div>          
                            
                            </div>
                        </form>




                    </div>
              
            </div>
        </div>
    </div>
</div>



   
       



<!-- form end >>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

   {% endblock %} 
