{% extends 'jobpoint_user/base.html' %} 

{% block content %} 
<!-- Form start >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
    
        <div style="background-color: antiquewhite;">
    
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </p>
        
        
        {% endfor %}
      </ul>
      {% endif %}

    <form method="POST" autocomplete="off">
        {% csrf_token %}
       
        <div class="container">
            <div class="control-group ">
                <label style="margin-right:790px;"><b>Job</b></label>
                <input type="text" value="{{data.previous_job}}" name="pjob" pattern="^[A-Za-z -]+$" class="form-control p-4" id="degree" 
                    required="required"  />
            </div>
            
           
            <div class="control-group ">
                <label style="margin-right:790px;"><b>Compony</b></label>
                <input pattern="^[.@&]?[a-zA-Z ]+[ !.@&()]?[ a-zA-Z0-9!()]+" type="text" name="pcomp" value="{{data.previous_compny}}" class="form-control p-4" id="cpi" placeholder="Your CPI"
                    required="required"  />
            </div>

            <div class="control-group">
                <label style="margin-right:790px;"><b> Experience Year</b></label>
                <input type="text" name="eyear" value="{{data.experience_year}}" pattern="[0-9]+" class="form-control p-4" id="passing_year" placeholder="Your Passing year"
                    required="required" data-validation-required-message="Please enter your email" />
            <div>
                <label style="margin-right:790px;"><b>About You</b></label>
                <textarea class="form-control" name="about" placeholder="About yourself" required>{{data.about}}</textarea>
            </div>
            <br>
            <div class="alert alert-success">
            <input type="submit" class="btn btn-success" value="Submit" style="margin-left:45%" >
            </div> 
        </div>
    </form>

</div>
</div>
</div>
</div>
</div>

<!-- form end >>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

   {% endblock %} 
