{% extends 'base.html' %}
{% load static %}
{% block base %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
    
        <div style="background-color: antiquewhite;">
    
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </p>
        
        
        {% endfor %}
      </ul>
      {% endif %}
<h4 style="text-align: center; margin-top: 20px; "><span class="text-primary">Project</span><span> Status</span></h4>
      <!-- <marquee behavior="" direction=""> Progect Status </marquee> -->
      
    {% for i in  status  %}
      
    {% if i.is_accepted == True %}
    <div class="container-fluid py-5" id="contact">
      <div class="container">
          
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="contact-form text-center">
                      <div id="success">
  
                      </div>
                       
                      <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="{{img_link}}" alt="">
                                    </div>    
                                    <div class="ml-2">
                                        <div class="h5 m-0" >Working on by: <a href="/user_profile/{{i.user.id}}">@{{i.user.username}}</a></div>
                                       {% comment %} {{username}} {% endcomment %}
                                    </div>
                                </div>
                                <div>
                                    
                                </div>
                            </div>
    
                        </div>
                        <div class="card-body">
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{data.posted_date}}</div>
                            <a class="card-link">
                                <h5 class="card-title  ">Job Title:  {{i.job.title}} </h5>
                            </a>
    
                            <p class="card-text">
                              Job Descripton:</b> {{i.job.description}} 
                            </p>
                            <div>
                           
                                
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a class="card-link text-success">Price :<i class="fa fa-gittip "></i>{{i.job.price}}</a>
                            <a class="card-link text-success">Posted Date :<i class="fa fa-gittip"></i>{{i.job.posted_date}}</a>
                            <a class="card-link text-success"><i class="fa fa-gittip"></i>{{i.job.likes|length}} Likes</a>
                            <a class="card-link text-success"><i class="fa fa-gittip"></i>{{i.job.unlikes|length}} Dislikes</a>
                        </div>
                    </div> 
  
                    {% comment %} user side details {% endcomment %}
                    
                    <div class="card gedf-card">
                      <div class="card-header">
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex justify-content-between align-items-center"> 
                                 
                              </div>
                              <div>
                                  
                              </div>
                          </div>
  
                      </div>
                    
                    <div class="card-body">
                      <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{data.posted_date}}</div>
                      <a class="card-link">
                          <h5 class="card-title">Counter price :{{i.price}}</h5>
                      </a>
  
                      <p class="card-text">
                      Discription :{{i.discription}}
                      </p>
                      Status :  {% if i.status is None %}Inital State
                      <div class="progress" style="margin-left:35%; width:30%;">
                      <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
                      </div>
                      {% elif i.status == "inprogress" %}
                      {{i.status}}
                      <div class="progress" style="margin-left:35%; width:30%;">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div> 
                      </div>
                      
                      {% else %}
                      {{i.status}}
                      <div class="progress" style="margin-left:35%; width:30%;">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div> 
                      </div>
                      
                      {% endif %}
                     
                      <div>
                    
                          
                      </div>
                      
                  </div>
              </div>
  
                    {% comment %} end {% endcomment %}
                    <br>
                    
                    {% comment %} post 2 {% endcomment %}
                     
                  </div>
                  
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% endif %}
    {% endfor %}



{% endblock base %}